<div>
	<p>Você pode entrar em contato comigo pelo próprio chat do <a href="https://linkedin.com/in/mgustavocoder" target="_blank">Linkedin</a> ou se preferir, via e-mail também <b>mgustavocoder@gmail.com</b></p>
</div>