<nav class="pagination" role="pagination">
    {{#if prev}}<a class="newer-posts" href="{{page_url prev}}">&larr; Mais novos</a> <span class="separator">|</span> {{/if}}
    <span class="page-number">Página {{page}} de {{pages}}</span>
    {{#if next}} <span class="separator">|</span> <a class="older-posts" href="{{page_url next}}">Mais antigo &rarr;</a>{{/if}}
</nav>
