{{!< default}}

<h1>Blog do Matheus Gustavo, desenvolvedor de software.</h1>
<hr>
<section style="background-color: gainsboro; padding-left: 0.9em; padding-bottom: 0.1em; padding-top: 0.1em; padding-right: 0.9em;border-radius: 0.9em; font-size: 1.2em;">
    <p>Olá, eu sou o Matheus Gustavo, programador com foco em desenvolvimento backend, uso esse blog para aprender e compartilhar conhecimento sobre programação, arquitetura de software, processos de desenvolvimento e soft-skills, em busca de construir sistemas cada vez melhores em times saudáveis e performáticos.  
        <i class="fas fa-rocket" aria-hidden="true"></i>
    </p>
</section>

<hr>
<section class="topics">
    <h2>Tópicos:</h2>
    {{#get "tags" limit="all"}}{{tags separator="&nbsp"}}{{/get}} 
    <hr>
</section>

<h2>Posts:</h2>
{{pagination}}
{{> postlist}}
{{pagination}}